.modal-ctn {
  position: fixed;
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
  background-color: #1c293e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: #364154 solid 1px;
}

.close-btn {
  cursor: pointer;
}

.team-cat {
  display: flex;
  gap: 5px;
  padding: 20px;
  border-bottom: #364154 solid 1px;
}

.team-cat div {
  padding: 5px;
  border-radius: 8px;
  background-color: #314258;
  cursor: pointer;
}

.team-cat div:hover {
  background-color: #31425899;
}

.team-cat div:focus {
  background-color: #115dfe;
}

.confirm-select-btn {
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
}

.flags-ctn {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  gap: 5px;
  overflow: scroll;
  cursor: pointer;
}

.flags-ctn::-webkit-scrollbar {
  display: none;
}

.btn-ctn {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #314258;
  text-align: center;
  transition: transform 0.02s ease-in-out;
  border-radius: 8px;
}

.flags:active {
  transform: translateY(2px);
}

.flags img {
  width: 40px;
  height: 40px;
}
