h1 {
  text-align: center;
  letter-spacing: 2px;
  padding: 20px;
}

main {
  border: #364154 solid 1px;
  border-radius: 8px;
  padding: 40px;
  background-image: url("./top-image.jpg");
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.scores {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.download-btn {
  font-weight: 200;
  border-radius: 8px;
  cursor: pointer;
  background: #46566d;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  max-width: 250px;
  margin: 9px auto;
}

@media screen and (max-width: 425px) {
  main {
    padding: 10px;
  }
}
